.menu-item {
    .item-title {
        .is-submenu {
            display: none !important;
        }
    }
}
.mm4ep-item-edit-btn {
    background: #007cba;
    border-radius: 2px;
    color: #fff;
    cursor: pointer;
    font-weight: normal;
    font-size: 12px;
    margin: 0 0 0 3px;
    padding: 4px 6px;
}

.mm4ep-item-editor-popup {
    position: fixed;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    z-index: 99999;
    overflow: auto;
    background: #fff;
    display: block;
    iframe {
        display: block;
        width: 100% !important;
        height: 100% !important
    }
    .mm4ep-close-item-editor {
        background-color: #d30c5c;
        color: #fff;
        position: absolute;
        right: 0;
        left: auto;
        padding: 3px;
        font-size: 24px
    }
}
.rtl .mm4ep-item-editor-popup .mm4ep-close-item-editor {
    left: 0;
    right: auto
}
